**.vscode/
**simulation/
**incremental_db/
**db/
**greybox*/
*.bak*
hardware/riscv_hardware*
!hardware/riscv_hardware.htm
!hardware/riscv_hardware.qpf
!hardware/riscv_hardware.qsf
!hardware/riscv_hardware.sdc
!hardware/riscv_hardware.v
*.o
*.flv
